// COMPONENTS STYLES

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');

html {
    height: 100%;
    width: 100%;
}

html, body {
    margin: 0;
    padding: 0;
    overflow-y: hidden;
}

#responsive-navbar {
    display: none;
}

header {
    // width: 75%;
}

#pen-tools {
    width: 60%;
}

i {
    margin-right: 8px;
}

.color-circle {
    width: 20px;
    height: 20px;
    cursor: pointer;
}

.color-circle:nth-child(1) {
    background-color: hotpink;
}

.color-circle:nth-child(2) {
    background-color: orange;
}

.color-circle:nth-child(3) {
    background-color: red;
}

.color-circle:nth-child(4) {
    background-color: yellow;
}

.color-circle:nth-child(5) {
    background-color: black;
}

.color-circle:nth-child(6) {
    background-color: blue;
}

.color-circle:nth-child(7) {
    background-color: white;
}

.color-circle:nth-child(8) {
    background-color: green;
}

.selected {
    transform:scale(1.4);
}

canvas {
    width:1000px; 
    height:550px;
    min-width: 90%;
    min-height: 60%;
}

@media only screen and (max-width: 992px) {

    main {
        display: none;
    }

    #responsive-navbar {
        display: block;
    }

    #advice {
        display: none;
    }

    #pen-range {
        max-width: 45%;
        margin:auto;
    }

    #fav-container {
        margin-top: 20px;
        margin-bottom: 15px;
    }

    // div label {
    //     display: none;
    // }

    canvas {
        max-height: 75vh;
    }

}